.container {
  margin-bottom: 5%;
}

.col-md-3 img {
  width: 75%;
  height: 75%;
}

.btn {
  background-color: #8086FF;
}

.bolder {
  font-size: 1.5em;
  font-weight: bold;
}

.row {
  display: none;
  text-align: center;
}

.panel {
  display: none;
  margin: auto;
  padding: 15px;
}

h2 {
  text-align: center;
}

img.imgCol:hover {
  transform: scale(1.03);
  display: flex;
  margin: auto;
  width: 75%;
  height: 75%;
}

img {
  display: flex;
  margin: auto;
  width: 75%;
  height: 75%;
}
